/* ================= MOBILE HEADER ACTIONS ================= */

@media (max-width: 768px) {
  body {
    padding-bottom: 70px;
  }

  .header-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    justify-content: space-around;
    padding: 12px 0;
    box-shadow: var(--shadow);
    z-index: 999;
  }

  .header-action-btn {
    font-size: 20px;
  }

  .header-action-btn span {
    display: block;
    font-size: 12px;
  }
/* ========================= */
/* =======HERO RESPONSIVE ========== */

    .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-title {
    font-size: 2.4rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image {
    text-align: center;
  }
}

/* ================= MOBILE NAVBAR SIDEBAR ================= */

@media (max-width: 992px) {
  /* Hamburger visible */
  .navbar-open-btn {
    display: block;
  }

  /* Navbar sidebar */
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100%;
    background: var(--white);
    padding: 25px;
    box-shadow: var(--shadow);
    transition: var(--transition);
    z-index: 2000;
  }

  .navbar.active {
    left: 0;
  }

  /* Navbar links vertical */
  .navbar-list {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  /* Close Button */
  .nav-close-btn {
    font-size: 25px;
  }

  /* Navbar Top */
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero {
    background: var(--cultured);
    padding: 90px 0 80px;
  }
}


