/* ================= ROOT VARIABLES ================= */

:root {
  --middle-blue-green: hsl(176, 35%, 63%);
  --sonic-silver: hsl(0, 0%, 44%);
  --eerie-black: hsl(0, 0%, 9%);
  --ocean-brown: hsl(22, 13%, 61%);

  --cultured: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);

  --transition: 0.3s ease;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  --ff: "jost", sans-serif;
}

/* ================= RESET ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  background: var(--white);
  padding-top: 70px;
  color: var(--sonic-silver);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* ================= CONTAINER ================= */

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/* ================= HEADER ================= */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--white);
  padding: 18px 0;
  z-index: 1000;
  transition: var(--transition);
}

.header.active {
  box-shadow: var(--shadow);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  font-size: 30px;
  color: var(--ocean-brown);
}

/* ================= HEADER ACTION BUTTONS ================= */

.header-actions {
  display: flex;
  gap: 25px;
}

.header-action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  color: var(--eerie-black);
  transition: var(--transition);
}

.header-action-btn span {
  display: none;
}

.header-action-btn:hover {
  color: var(--ocean-brown);
}
.navbar-top {
  display: none;
}
/* ================= NAVBAR DESKTOP ================= */

.navbar-list {
  display: flex;
  gap: 25px;
}

.navbar-link {
  font-size: 17px;
  font-weight: 500;
  color: var(--eerie-black);
  transition: var(--transition);
}

.navbar-link:hover {
  color: var(--ocean-brown);
}

/* Hamburger hidden on desktop */

.navbar-open-btn {
  display: none;
  font-size: 28px;
}

/* ================= OVERLAY ================= */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  z-index: 1500;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* ================= HERO SECTION ================= */

.hero {
  background: var(--cultured);
  padding: 70px 0 80px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 60px; */
}

/* Hero Content */

.hero-content {
  flex: 1;
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 800;
  color: var(--eerie-black);
  line-height: 1.2;
}

.hero-text {
  margin-top: 18px;
  font-size: 1.1rem;
  max-width: 480px;
  line-height: 1.7;
}

/* Buttons */

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  transition: var(--transition);
}

/* Primary Button */

.btn-primary {
  background: var(--ocean-brown);
  color: var(--white);
}

.btn-primary:hover {
  background: var(--eerie-black);
}

/* Outline Button */

.btn-outline {
  border: 2px solid var(--ocean-brown);
  color: var(--ocean-brown);
}

.btn-outline:hover {
  background: var(--ocean-brown);
  color: var(--white);
}

/* Hero Image */

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
}

/* ================= FEATURED SECTION ================= */

.featured {
  padding: 80px 0;
  background: var(--white);
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
  color: var(--eerie-black);
}

.featured-grid {
  display: grid;
  gap: 25px;
}

/* Feature Card */
.feature-card {
  background: var(--cultured);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  transition: var(--transition);
  box-shadow: var(--shadow);
}

.feature-card:hover {
  transform: translateY(-8px);
}

/* Icons */
.feature-icon {
  font-size: 45px;
  color: var(--ocean-green);
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--eerie-black);
}

.feature-card p {
  font-size: 14px;
  color: var(--sonic-silver);
}

/* ================= PRODUCT SECTION ================= */

.products {
  padding: 90px 0;
  background: var(--cultured);
}

.product-grid {
  display: grid;
  gap: 25px;
  margin-top: 50px;
}

/* Product Card Box */
.product-card {
  background: var(--white);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.product-card:hover {
  transform: translateY(-10px);
}

/* Product Image */
.product-img {
  position: relative;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: var(--transition);
}

.product-card:hover img {
  transform: scale(1.1);
}

/* Action Buttons */
.product-actions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  transition: var(--transition);
}

.product-card:hover .product-actions {
  opacity: 1;
}

.product-actions button {
  background: var(--white);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.product-actions button:hover {
  background: var(--ocean-green);
  color: var(--white);
}

/* Product Info */
.product-info {
  padding: 18px;
  text-align: center;
}

.product-info h3 {
  font-size: 17px;
  margin-bottom: 8px;
  color: var(--eerie-black);
}

.product-info p {
  font-size: 15px;
  font-weight: bold;
  color: var(--ocean-green);
}


/* ================= NEWSLETTER SECTION ================= */

.newsletter {
  padding: 80px 0;
  background: var(--cultured);
  background-image: url("../images/newsletter-bg.png");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 200px;
}

.newsletter-box {
  background: var(--white);
  padding: 50px;
  border-radius: 20px;
  box-shadow: var(--shadow);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.newsletter-text h2 {
  font-size: 2rem;
  color: var(--eerie-black);
  margin-bottom: 10px;
}

.newsletter-text p {
  font-size: 15px;
  color: var(--sonic-silver);
  max-width: 400px;
  line-height: 1.6;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input {
  padding: 12px 15px;
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 14px;
}

.btn-newsletter {
  background-color: var(--ocean-brown);
  color: var(--white);
  padding: 12px 20px;
  border-radius: 0 10px 10px 0;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.btn-newsletter:hover {
  background: #059669;
}


/* ================= FOOTER ================= */

.footer {
  background: var(--cultured);
  color: var(--sonic-silver);
  padding: 70px 0 30px;
}

.footer-grid {
  display: grid;
  gap: 40px;
}

.footer-brand p {
  margin: 16px 0;
  font-size: 14px;
  color: var(--ocean-brown);
  line-height: 1.7;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  font-size: 20px;
  color: var(--ocean-brown);
  color: var(--sonic-silver);
  transition: var(--transition);
}

.social-links a:hover {
  color: var(--ocean-green);
}

.footer-links h3,
.footer-contact h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  color: var(--ocean-brown);
  font-size: 14px;
  transition: var(--transition);
}

.footer-links a:hover {
  color: var(--ocean-green);
}

.footer-contact p {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--sonic-silver);
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid var(--sonic-silver);
  padding-top: 20px;
  font-size: 14px;
  color: var(--sonic-silver);
}
